body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f4f4f4;
}

.container {
    display: flex;
    width: 70%;
    max-width: 1000px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.sidebar {
    width: 30%;
    background-color: var(--back-do-aside);
    color: var(--texto-do-aside);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-picture img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
}

.habilidades {
    margin-top: 20px;
}

.contato h3, .habilidades h3 {
    text-align: center;
    margin-bottom: 10px;
    text-decoration: underline;
}

.habilidades ul{
    list-style-type: circle;
}

.habilidades li {
    margin: 5px 0;
}

.content {
    width: 70%;
    padding: 20px;
}

.content h1 {
    font-size: 2em;
    margin-bottom: 20px;
    text-decoration: underline;
}

.content section {
    margin-bottom: 20px;
}

.content section h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.content ul{
    list-style: none;
}

.cabecalho{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.redes-sociais{
    font-size: 30px;
    display: flex;
    align-items: center;
    padding: 10px;
    margin-bottom: 20px;   
}